<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pets</title>
    <link rel="stylesheet" href="../pets.css">
</head>
<body>
<h1>this is our first header</h1>

<h2>This is an image of a dog</h2>
<img src="../dog.jpg" height="400" width="600"/>

<h3><a href="https://github.com/tifferderer/pets">this is a hyperlink to our github</a></h3>

</body>
</html>